@tailwind base;
@tailwind components;
@tailwind utilities;

.album-name {
  width: 62%;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.album-name:hover {
  background-color: cyan;
}

.button {
  border: 2px solid black;
  background-color: cyan;
  color: white;
  font-weight: 700;
  padding: 5px;
}

.albumForm {
  display: flex;
  justify-content: space-between;
}

.closer {
  height: 500px;
  width: 500px;
  border: 2px solid black;
}
